<div id="index">
  <% @albums.each do |album| %>
    <% if album.user_id == current_user.id %>
      <li>
      <%= album.title %>
      <%= album.artist %>
      <%= album.rating %>
      </li>
    <% end %>
  <% end %>
</div>
