<div id="album-show">
<div id="album-show-image"><%= image_tag @album.art %></div>
<div id="album-show-info">
<div id="album-show-artist"><%= @album.artist %></div>
<div id="album-show-title"><%= @album.title %></div>
</div>

<div id="album-show-ranking"><%= render "rankingform" %></div>
</div>
